{
  "extends": ["kentcdodds/jsx-a11y", "kentcdodds/react", "kentcdodds"],
  "settings": {
    "import/resolver": {
      "alias": {
        "extensions": [".js"],
        "map": [["~", "./src"]]
      }
    }
  },
  "rules": {
    "arrow-body-style": ["error", "as-needed"],
    "arrow-parens": ["error", "as-needed"],
    "import/order": [
      "error",
      {
        "alphabetize": { "order": "asc", "caseInsensitive": true },
        "newlines-between": "always",
        "pathGroups": [
          {
            "pattern": "~/**",
            "group": "parent"
          }
        ]
      }
    ],
    "jsx-quotes": ["error", "prefer-single"],
    "react-hooks/exhaustive-deps": 0,
    "react/prop-types": 0,
    "semi": "off"
  }
}
